# Load data

In [2]:
import pandas as pd

/var/folders/x5/spm_6r5944dfgx3qj8my0m440000gn/T/ipykernel_13286/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
from pathlib import Path

def load_data(path: str) -> pd.DataFrame:
    data = pd.read_csv(Path(path))
    return data

In [4]:
data = load_data("../data/data.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

# Preprocessing

In [6]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("intfloat/e5-large-v2")

In [7]:
embeddings = model.encode(data['text'], normalize_embeddings=True)

In [8]:
embeddings.shape

(7613, 1024)

In [9]:
data['embedding'] = embeddings.tolist()

In [10]:
data

,id,keyword,location,text,target,embedding
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,"[0.011803407222032547, -0.03102480061352253, 0..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,"[0.01173948124051094, -0.013321955688297749, 0..."
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,"[0.01612539403140545, -0.04069650545716286, 0...."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[0.02725730650126934, -0.0381084568798542, 0.0..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[0.024750923737883568, -0.04803996905684471, 0..."
...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,"[0.009944089688360691, -0.023125959560275078, ..."
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,"[0.027625542134046555, -0.04035715386271477, 0..."
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,"[0.005849677603691816, -0.07193848490715027, 0..."
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,"[0.012209699489176273, -0.04114094376564026, 0..."
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,"[0.026176754385232925, -0.03316451236605644, 0..."

In [17]:
from tqdm import tqdm
from warnings import filterwarnings
filterwarnings("ignore")
j = 0
for component in tqdm(embeddings):
    i = 0
    data['x' + str(j)] = 0
    for value in component:  
        data.loc[i, 'x' + str(j)] = value
        i += 1
    j += 1

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7613/7613 [02:55<00:00, 43.36it/s]

In [18]:
data

,id,keyword,location,text,target,embedding,x0,x1,x2,x3,...,x7603,x7604,x7605,x7606,x7607,x7608,x7609,x7610,x7611,x7612
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,"[0.011803407222032547, -0.03102480061352253, 0...",0.011803,0.011739,0.016125,0.027257,...,0.003148,0.007429,-0.008750,-0.019802,0.017067,0.009944,0.027626,0.005850,0.012210,0.026177
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,"[0.01173948124051094, -0.013321955688297749, 0...",-0.031025,-0.013322,-0.040697,-0.038108,...,-0.016394,-0.024636,-0.073233,-0.065737,-0.039444,-0.023126,-0.040357,-0.071938,-0.041141,-0.033165
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,"[0.01612539403140545, -0.04069650545716286, 0....",0.034121,0.018322,0.013458,0.032964,...,0.026971,0.015068,0.007990,0.026136,0.024696,0.010891,0.042238,0.029449,0.012503,0.031371
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[0.02725730650126934, -0.0381084568798542, 0.0...",-0.020263,0.001877,-0.034184,-0.001223,...,-0.026461,-0.032632,-0.004795,-0.007860,-0.013649,-0.024258,-0.002208,-0.000528,-0.010618,-0.031784
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[0.024750923737883568, -0.04803996905684471, 0...",-0.009868,-0.020319,-0.030858,-0.010603,...,-0.036684,-0.002345,-0.034900,-0.022841,-0.010558,-0.054451,-0.007951,-0.048940,-0.019101,-0.031370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,"[0.009944089688360691, -0.023125959560275078, ...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,"[0.027625542134046555, -0.04035715386271477, 0...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,"[0.005849677603691816, -0.07193848490715027, 0...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,"[0.012209699489176273, -0.04114094376564026, 0...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,"[0.026176754385232925, -0.03316451236605644, 0...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000