# Load data

In [1]:
import pandas as pd

/var/folders/x5/spm_6r5944dfgx3qj8my0m440000gn/T/ipykernel_20311/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
from pathlib import Path

def load_data(path: str) -> pd.DataFrame:
    data = pd.read_csv(Path(path))
    return data

In [3]:
data = load_data("../data/data.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

# Preprocessing

In [5]:
from warnings import filterwarnings
filterwarnings("ignore")

In [6]:
from sentence_transformers import SentenceTransformer

# intfloat/e5-small-v2 or intfloat/e5-base-v2 or intfloat/e5-large-v2
model = SentenceTransformer("intfloat/e5-small-v2")

In [7]:
embeddings = model.encode(data['text'], normalize_embeddings=True, show_progress_bar=True)

Batches:   0%|          | 0/238 [00:00<?, ?it/s]

In [8]:
nb_comp = len(embeddings[0])
nb_data = len(embeddings)
print(f"embedding size : {nb_comp}")

embedding size : 384

In [9]:
for num_comp in range(nb_comp):
    data['x_' + str(num_comp)] = [embeddings[k][num_comp] for k in range(nb_data)]

In [10]:
data

,id,keyword,location,text,target,x_0,x_1,x_2,x_3,x_4,...,x_374,x_375,x_376,x_377,x_378,x_379,x_380,x_381,x_382,x_383
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,-0.085014,0.037619,0.043141,-0.013582,-0.039502,...,-0.015111,-0.091739,-0.006207,-0.065880,0.001196,0.028524,0.041490,0.022493,-0.052284,0.005658
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,-0.007675,0.052327,0.060509,0.003969,0.033272,...,-0.004133,-0.068609,-0.015161,-0.026652,-0.062071,-0.040363,-0.057321,0.003138,-0.054532,0.047691
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,-0.032239,0.059961,0.045192,-0.004393,-0.003297,...,-0.055649,-0.042831,0.021676,-0.023298,-0.012054,0.014243,-0.049301,0.052759,-0.047772,0.034149
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,-0.045641,0.017100,0.038876,-0.006642,-0.008925,...,0.007952,-0.084324,0.016554,-0.052065,-0.057295,0.017911,-0.006158,-0.018141,-0.032954,0.009808
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,-0.035520,0.023880,0.044553,0.024645,-0.000059,...,-0.024434,-0.097317,0.006670,-0.035037,-0.043080,-0.027862,0.004018,-0.050536,-0.073364,0.069326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,-0.066115,0.028198,0.031644,0.007943,-0.041861,...,-0.027089,-0.056331,-0.004420,-0.033254,-0.049777,0.024234,-0.028104,0.016274,-0.026338,0.045716
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,-0.058981,-0.002104,0.056779,0.000326,-0.019774,...,-0.000816,-0.065776,-0.016807,-0.034726,-0.068584,0.036038,-0.012903,0.001187,-0.014073,0.071948
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,-0.079892,0.001205,0.047919,0.072155,-0.009639,...,-0.024103,-0.061858,-0.028299,-0.063712,-0.092573,0.046094,-0.002543,0.019701,-0.066698,0.025109
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,-0.085301,0.045432,0.009004,-0.025300,-0.030482,...,-0.018436,-0.036074,-0.011161,-0.058645,-0.057623,0.010821,-0.030253,0.044736,-0.037539,0.032958
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,-0.031276,0.018512,0.044079,-0.007846,-0.003129,...,-0.004711,-0.096966,0.003382,-0.073532,-0.058755,0.024794,0.009323,-0.032192,-0.024018,0.067209

In [11]:
data_keywords = data['keyword']

In [12]:
data_keywords.size

7613

In [13]:
data_keywords.unique()

array([nan, 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [14]:
data_keywords.value_counts()

keyword
fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: count, Length: 221, dtype: int64

In [15]:
columns = ['keyword']
data1 = pd.get_dummies(data, columns=columns, drop_first=True)
data1.replace({False: 0, True: 1}, inplace=True)

In [16]:
data1

,id,location,text,target,x_0,x_1,x_2,x_3,x_4,x_5,...,keyword_weapons,keyword_whirlwind,keyword_wild%20fires,keyword_wildfire,keyword_windstorm,keyword_wounded,keyword_wounds,keyword_wreck,keyword_wreckage,keyword_wrecked
0,1,NaN,Our Deeds are the Reason of this #earthquake M...,1,-0.085014,0.037619,0.043141,-0.013582,-0.039502,0.030180,...,0,0,0,0,0,0,0,0,0,0
1,4,NaN,Forest fire near La Ronge Sask. Canada,1,-0.007675,0.052327,0.060509,0.003969,0.033272,0.049459,...,0,0,0,0,0,0,0,0,0,0
2,5,NaN,All residents asked to 'shelter in place' are ...,1,-0.032239,0.059961,0.045192,-0.004393,-0.003297,0.037312,...,0,0,0,0,0,0,0,0,0,0
3,6,NaN,"13,000 people receive #wildfires evacuation or...",1,-0.045641,0.017100,0.038876,-0.006642,-0.008925,0.028679,...,0,0,0,0,0,0,0,0,0,0
4,7,NaN,Just got sent this photo from Ruby #Alaska as ...,1,-0.035520,0.023880,0.044553,0.024645,-0.000059,0.047627,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,NaN,Two giant cranes holding a bridge collapse int...,1,-0.066115,0.028198,0.031644,0.007943,-0.041861,0.004741,...,0,0,0,0,0,0,0,0,0,0
7609,10870,NaN,@aria_ahrary @TheTawniest The out of control w...,1,-0.058981,-0.002104,0.056779,0.000326,-0.019774,-0.018632,...,0,0,0,0,0,0,0,0,0,0
7610,10871,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,-0.079892,0.001205,0.047919,0.072155,-0.009639,0.044404,...,0,0,0,0,0,0,0,0,0,0
7611,10872,NaN,Police investigating after an e-bike collided ...,1,-0.085301,0.045432,0.009004,-0.025300,-0.030482,0.046875,...,0,0,0,0,0,0,0,0,0,0
7612,10873,NaN,The Latest: More Homes Razed by Northern Calif...,1,-0.031276,0.018512,0.044079,-0.007846,-0.003129,-0.006138,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Columns: 608 entries, id to keyword_wrecked
dtypes: float32(384), int64(222), object(2)
memory usage: 24.2+ MB

In [20]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my_app")
data1_wNan = data1.dropna()
def get_coordinates(location):
    try:
        location = geolocator.geocode(location)
        return location.latitude, location.longitude
    except:
        return None
data_tmp = data1_wNan.head(10)
for location in data_tmp['location']:
    print(location, get_coordinates(location))
# data_tmp['coordinates'] = data1['location'].apply(get_coordinates)

Birmingham (52.4796992, -1.9026911)
Est. September 2012 - Bristol None
AFRICA (11.5024338, 17.7578122)
Philadelphia, PA (39.9527237, -75.1635262)
London, UK (51.4893335, -0.14405508452768728)
Pretoria (-25.7459277, 28.1879101)
World Wide!! (28.3376729, -81.55752250357412)
Paranaque City (14.4573274, 121.03323686843908)
Live On Webcam None
milky way (-7.1280388, 52.7448393)

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt

data1_wNan = data1.dropna()
corr = data1_wNan.corr()
sns.heatmap(corr, annot=False, cmap='coolwarm', linewidths=0.5)

ValueError: could not convert string to float: 'Birmingham'